/* FONT INTER */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* FONT NOTO SERIF */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

/* RESETS */
:root {
  --font-inter: "Inter", sans-serif;
  --font-serif: "Noto Serif", serif;
  --dark-one: #252432;
  --dark-two: #8987a1;
  --dark: #000000;
  --primary-color: #e95a08;
  --secondary-color: #00000080;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1140px;
  margin: 0 auto;
  font-family: var(--font-inter);
  background-color: #f5f8ff;
}

img {
    max-width: 100%;
}

section {
    margin-top: 170px;
}

/* NAVIGATION STYLES */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  gap: 48px;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li:nth-child(1),
.navbar ul li:nth-child(4) {
  color: var(--dark-one);
}

.navbar ul li:nth-child(2),
.navbar ul li:nth-child(3) {
  color: var(--dark-two);
}

/* HERO SECTION STYLING */

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-header h1 {
    font-size: 65px;
    font-weight: 700;

    span {
        color: var(--primary-color);
        font-family: var(--font-serif);
    }
}

.hero-header p {
    font-size: 22px;
    color: var(--secondary-color);
    margin-top: 15px;
}

/* GRID SECTION STYLING */

.grid-section h2,
.grid-section p {
    text-align: center;
}

.grid-section span {
    color: var(--primary-color);
}

.grid-section h2 {
    margin-bottom: 16px;
    font-size: 50px;
    font-weight: 700;
    font-family: var(--font-serif);
}

.grid-section p {
    color: var(--dark-two);
    margin-bottom: 50px;
    font-size: 22px;
}

.grid-section-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 30px;
}

.first-one,
.second-one {
    font-size: 22px;
    font-weight: 700;
}

.first-one {
     margin-top: 25px;
}

.second-one {
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn-primary {
    margin-top: 10px;
}


.grid-section-container .btn-primary {
    border: none;
    padding: 20px;
    margin-top: 10px;
    background-color: var(--primary-color);
    color: #fff;
    width: 100%;
}

/* FLOWER STORE SECTION STYLING */

.flower-store-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* height: 300px; */

    /* img {
        height: 450px;
        width: 500px;
    } */
}

.flower-store-container h2 {
    font-size: 50px;
    font-weight: 700;
    /* margin-top: 100px; */
    padding-top: 30px;
}

.flower-store-container ul li {
    padding-top: 40px;
    margin-left: 40px;
    font-family: var(--font-inter);
    font-size: 22px;
    color: var(--dark-two);
}

.trusted-badge {
    height: 250px;
    width: 250px;
    text-align: center;
    position: absolute;
    left: 355px;
    /* top: 250px; */
    bottom: 440px;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.fourth-section {
    position: relative;
}
















/* RESPONSIVE PART */

@media screen and (max-width: 640px) {
  .navbar ul li:nth-child(1),
  .navbar ul li:nth-child(2),
  .navbar ul li:nth-child(3) {
    display: none;
  }

  section {
    margin-top: 50px;
  }

  .hero-container {
    flex-direction: column-reverse;
  }

  .hero-header h1 {
    font-size: 30px;
    margin-top: 30px;
  }

  .hero-header p {
    font-size: 14px;
    margin-top: 10px;
  }

  .grid-section h2 {
    font-size: 24px;
  }

  .grid-section p {
    font-size: 14px;
  }

  .grid-section-container {
    grid-template-columns:  repeat(2, 1fr);
  }

  .first-one,
.second-one {
    font-size: 16px;
    font-weight: 700;
}
}

